.header {
  padding: 0px 24px;
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.header-logo {
  font-weight: bold;
  font-size: 20px;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: 40px;
  gap: 32px;
  font-weight: bold;
}
.runupload {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
}

.rundis {
  margin-top: 5px;
  font-weight: bold;
  font-size: 40px;
}

.runfeels {
  margin-top: 5px;
  font-size: 40px;
  font-weight: bold;
}
.feels {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 25px;
  font-weight: bold;
}

.feel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100px;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

#icon {
  width: 70px;
}
