.userform {
  background-color: #0f172a;
  /* margin-top: 30px; */
  display: flex;
  gap: 80px;
  flex-direction: column;
  padding: 100px;
  align-items: center;
}

#user-input {
  width: 400px;
  height: 70px;
  justify-self: center;
  font-size: 40px;
  background-color: #38bdf8;
  border: 2px solid white;
}

#user-button {
  width: 300px;
  height: 70px;
  justify-self: center;
  background-color: #10b981;
  color: black;
  font-weight: bold;
  font-size: 29px;
}

#backButton {
  width: 200px;
  height: 70px;
  margin-left: 70%;
  color: white;
  background-color: #0f172a;
  border: 5px solid white;
}
